.gitattributes

*.so
*.o
*.a

manual/manual.html

testes/time.txt
testes/time-debug.txt

testes/libs/all

temp
lua

*.dir/
bin/
CMakeFiles/
intermediate/
x64/

.DS_Store
*.aps
*.csproj
*.filters
*.make
*.ninja
*.sln
*.slnx
*.user
*.vcxproj
*.xcodeproj
*.xcworkspace
cmake_install.cmake
CMakeCache.txt
compile_commands.json
imgui.ini
local.properties
Makefiles
